#admin-form, #admin-form #admin-form-main-card {
    height: 100%;
}

#admin-form #admin-form-main-card {
    background-color: #F3F2F1;
    border: 1px solid #f3f2f1;
}

#admin-form #admin-form-main-card .card-body {
    padding: 0;
}

#admin-form #admin-form-first-card, #admin-form #admin-form-second-card {
    border-radius: 10px;
}

#admin-form #admin-form-first-card h3, #admin-form #admin-form-second-card h3{
    font-size: 20px;
    color: #000000;
}

#admin-form .card-footer {
    background-color: #FFFFFF;
    border-top: none;
}

#admin-form .btn-cancelar, #admin-form .btn-guardar {
    width: 100%;
}

#admin-form .btn-cancelar {
    color: #C7C7C7;
    border-color: #C7C7C7;
}

#admin-form .btn-guardar {
    background-color: #BED12E;
    color: #FFFFFF;
    border-color: #BED12E;
}
