#DocumentaryTree, #DocumentaryTree .card{
    height: 100%;
}
#DocumentaryTree #basic-navbar-nav button {
    text-transform: none;
}

#DocumentaryTree .btn-outline-light {
    color: #747474;
}

#DocumentaryTree .fa-plus {
    color: #BED12E;
}

#DocumentaryTree .fa-folder {
    color: #FFE588;
}

#DocumentaryTree .fa-folder-open {
    color: #E9C447;
}

#DocumentaryTree .card {
    border-radius: 10px;
}

#DocumentaryTree .card-body {
    overflow: scroll;
}

#DocumentaryTree .card-header, nav {
    background-color: #FFFFFF;
}

#DocumentaryTree .card-header nav .btn {
    border-color: #FFFFFF;
}

#DocumentaryTree .MuiTreeItem-content{
    margin-bottom: 10px;
}

#DocumentaryTree .MuiTreeItem-label {
    font-size: 20px;
}